body {
    background-color: #f4f4f4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
}

footer {
    background-color: #212529;
    color: white;
    text-align: center;
    padding: 15px;
}

.hero {
    background-color: white;
    background-size: cover;
    background-position: center;
    padding: 100px 0;
}

.hero h1 {
    font-weight: bold;
}

.card img {
    height: 200px;
    object-fit: cover;
}